<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>add-blog</title>
</head>

<body>
    <div>
        <%- include('./partials/navbar') %>
    </div>


    <form action="/blog" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="title" aria-describedby="title">
        </div>

        <div class="form-floating">
            <label for="floatingTextarea">Body</label>
            <textarea class="form-control" placeholder="Body" id="body" name="body"></textarea>
        </div>

        <div class="mb-3 mt-3">
            <label for="formFile" class="form-label" name="coverImage">Select Cover image</label>
            <input class="form-control" type="file" name="coverImage" id="coverImage">
        </div>

        <button type="submit">Submit</button>

    </form>


    <%- include('./partials/scripts') %>
</body>

</html>