<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>add-blog</title>
</head>

<body>
    <div>
        <%- include('./partials/navbar') %>
    </div>

    <div class="container mt-3">
    <form action="/blog" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="title" aria-describedby="title">
        </div>

        <div >
            <label for="body">Body</label>
            <textarea class="form-control" id="body" name="body"></textarea>
        </div>

        <div class="mb-3 mt-3">
            <label for="formFile" class="form-label" name="coverImage">Select Cover image</label>
            <input class="form-control" type="file" name="coverImage" id="coverImage">
        </div>

        <button class="btn btn-primary" type="submit">Submit</button>

    </form>
    </div>

    <%- include('./partials/scripts') %>
</body>

</html>