<!DOCTYPE html>
<html lang="en">
<head>
<%- include('./partials/head') %>
    <title>Homepage</title>
</head> 
<body>
    <div>
        <%- include('./partials/navbar') %>
    </div>

    <% if (locals.data) { %>
        <%= JSON.stringify(locals.data) %>
    <% } %>

    <%- include('./partials/scripts') %>
</body>
</html>